// src/pages/Profile/Profile.scss

@import '../../styles/variables.scss';

.profile-page {
  background-color: #121212;
  color: #fff;
  min-height: 100vh;

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  .profile-content {
    display: flex;
    gap: 2rem;
    align-items: flex-start;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .profile-avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .profile-avatar {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

 .profile-info {
  flex: 1;
  padding: 0 1.5rem 1.5rem 0;
  border-radius: 12px;

  .info-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.75rem 0;

    &:first-child {
      padding-top: 0;
    }

    .label {
      font-weight: 500;
      color: #ccc;
    }

    .value {
      font-weight: 600;
      color: #fff;
    }

    .input-field {
      width: 100%;
      padding: 0.5rem;
      background-color: #2a2a2a;
      border: 1px solid #444;
      border-radius: 6px;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;

      &:focus {
        outline: none;
        border-color: #4caf50;
      }
    }
  }
}

  .profile-buttons {

    display: flex;
    justify-content: space-between;
    padding-left: 40px;

    .upload-photo-btn {
        padding: 0.75rem 1.5rem;
        background-color: $button-bg;
        border: 1px solid #525252;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        color: #FEFEFE;
        transition: $button-bg-hover 0.2s;

      &:hover {
        background-color: $button-bg-hover;
      }
    }

      .edit-btn {
        padding: 0.75rem 1.5rem;
        background-color: $button-bg;
        border: 1px solid #525252;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        color: #FEFEFE;
        transition: $button-bg-hover 0.2s;

            &:hover {
            background-color: $button-bg-hover;
            }

            @media (max-width: 768px) {
            width: 100%;
            margin-top: 1rem;
            }
        }
  }

}

  