@import '../../styles/variables.scss';

.transactions-page {
  // Чтобы было визуально одинаково с Home
  margin-top: 20px;

  .transactions-table {
    background: $background-block;
    padding: 20px;
    border-radius: $border-radius-default;
    border: 3px solid $border-color;
    box-shadow: $box-shadow;
    margin-top: 20px;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid $border-color;

        &:first-child {
          width: 20%;
        }
        &:last-child {
          text-align: right;
        }
      }

      th {
        background: $background-hover;
        font-weight: 500;
      }

      .desc {
        font-weight: bold;
        font-size: larger;
        color: $color-text-primary;
      }

      .details {
        font-size: 14px;
        color: $color-text-secondary;
      }

      .transaction-desc {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
    }
  }
}
