// src/components/Greeting/Greeting.scss

@import '../../styles/variables.scss';

.greeting {
  margin-bottom: 20px;
  padding: 20px 20px 20px 0;
  background: none;
  display: flex;
  flex-direction: row;
  gap: 15px;

  .greeting-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  h2 {
    font-size: $font-size-h2;
    margin-bottom: 2px; 
  }

  p {
    color: $color-text-secondary;
    font-size: $font-size-small;
    margin: 0; 
  }
}