// src/components/Header/Header.scss

@import '../../styles/variables.scss';

.header {
  background: none;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  position: relative;

  .header-left h1 {
    font-size: $font-size-h1;
    font-weight: bold;
    color: $color-text-primary;
    margin: 0;
  }

  .header-nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;

    a {
      color: $color-text-primary;
      text-decoration: none;
      font-weight: 500;
      padding: 8px 12px;
      border-radius: 4px;
      transition: all 0.2s ease;

      // Активный пункт (автоматически от NavLink)
      &.active {
        background: $background-block;
        border-radius: 10px;
      }

      // Ховер: градиент снизу вверх + больший радиус
      &:hover {
        background: linear-gradient(to top, $background-block, rgba(0, 0, 0, 0));
        border-radius: 15px;
      }
    }
  }
}