// src/components/CardsCarousel/CardsCarousel.scss

@import '../../styles/variables.scss';

.cards-carousel {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  .card {
    min-width: 250px;
    padding: 15px;
    border-radius: $border-radius-card;
    position: relative;
    overflow: hidden;
    box-shadow: $box-shadow;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    background: $gradient-main-card;

    &:hover {
      transform: translateY(-2px);
    }

    &.green {
      background: $gradient-main-card;
    }

    &.yellow {
      background: $gradient-debit-card;
    }

    &.blue {
      background: $gradient-savings-card;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex-grow: 1;
    }

    .balance {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .type {
      font-size: $font-size-small;
      opacity: 0.8;
    }

    .card-number {
      font-size: $font-size-tiny;
      opacity: 0.6;
      margin-top: 10px;
    }

    .transfer-btn {
      position: absolute;
      bottom: -1px;
      right: 1px;
      background-color: $button-bg;
      color: $button-color;
      border: 2px solid $button-border-color;
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 14px;
      cursor: pointer;
      transition: background 0.2s;
      width: 100px;
      height: 40px;

      &:hover {
      }
    }
  }
}